serviceAccountName: kibana

replicas: 1

image: docker.elastic.co/kibana/kibana
imageTag: "8.12.0"
imagePullPolicy: IfNotPresent

serverHost: "0.0.0.0"
httpPort: 5601
protocol: http
healthCheckPath: "/api/status"

elasticsearchHosts: "https://elasticsearch-master.elasticsearch.svc:9200"
elasticsearchCertificateSecret: ""
elasticsearchCertificateAuthoritiesFile: ""


automountToken: true

resources:
  requests:
    cpu: "200m"
    memory: "512Mi"
  limits:
    cpu: "500m"
    memory: "1Gi"

kibanaConfig:
  kibana.yml: |
    server.host: "0.0.0.0"
    server.port: 5601
    
    elasticsearch.hosts: ["https://elasticsearch-master.elasticsearch.svc:9200"]

    elasticsearch.username: "elastic"
    elasticsearch.password: "elastic"
    
    elasticsearch.ssl.certificateAuthorities:
      - /usr/share/kibana/config/certs/ca.crt
    
    elasticsearch.ssl.verificationMode: certificate
    
    xpack.security.enabled: true



secretMounts:
  - name: elasticsearch-certs
    secretName: elasticsearch-master-certs
    path: /usr/share/kibana/config/certs

service:
  type: ClusterIP
  port: 5601

ingress:
  enabled: false

updateStrategy:
  type: RollingUpdate
