serviceAccountName: kibana

replicas: 1

image: docker.elastic.co/kibana/kibana
imageTag: "8.12.0"
imagePullPolicy: IfNotPresent

serverHost: "0.0.0.0"
httpPort: 5601
protocol: http
healthCheckPath: "/api/status"

elasticsearchHosts: "http://elasticsearch-master.elasticsearch.svc:9200"
elasticsearchCertificateSecret: ""
elasticsearchCertificateAuthoritiesFile: ""


automountToken: true

resources:
  requests:
    cpu: "200m"
    memory: "512Mi"
  limits:
    cpu: "500m"
    memory: "1Gi"

extraEnvs:
  - name: ELASTICSEARCH_USERNAME
    value: "elastic"
  - name: ELASTICSEARCH_PASSWORD
    value: "Fb/es/kibana@123"

kibanaConfig:
  kibana.yml: |
    server.host: "0.0.0.0"
    server.port: 5601
    
    elasticsearch.hosts: ["http://elasticsearch-master.elasticsearch.svc:9200"]
    
    elasticsearch.ssl.certificateAuthorities:
      - /usr/share/kibana/config/certs/ca.crt
    
    elasticsearch.ssl.verificationMode: certificate
    
    xpack.security.enabled: true
    xpack.encryptedSavedObjects.encryptionKey: "32charrandomkey1234567890abcdef"
    xpack.reporting.encryptionKey: "32charrandomkey0987654321fedcba"
    xpack.security.encryptionKey: "32charrandomkey1122334455667788"

secretMounts:
  - name: elasticsearch-certs
    secretName: elasticsearch-master-certs
    path: /usr/share/kibana/config/certs

service:
  type: ClusterIP
  port: 5601

ingress:
  enabled: false

updateStrategy:
  type: RollingUpdate
